h1{
    background-color: crimson;
    text-align: right ;
    text-indent: 30px;
    color:darkgray;
    padding: 2%;

}
h2{
    background-color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left:20px;
    color:crimson;

}
ol{
    font-family: Arial, Helvetica, sans-serif;
}
#immagini{
    margin-left: 100px;
}
#testo{
    margin-left: 100px;
    margin-right:100px;
}
p{
    text-indent: 30px;
    
}
b{
    margin-left: -100px;
}

.margin{
    margin-left: 140px;
    
}

a{
    color: red;
}